<form [formGroup]="this.formGroup" #createRfq="ngForm" class="p-4" (ngSubmit)="createRFQ(createRfq.value)">
  <div class="form-group">
    <div>
      <label for="commodity">Commodity</label>
      <input id="commodity" formControlName="Commodity" class="form-control mb-2" type="text" required autocomplete="off" placeholder="Commodity">
    </div>
    <div>
      <label for="noteTextarea">Note</label>
      <textarea formControlName="Note" class="form-control" placeholder="Leave a comment here" id="noteTextarea"></textarea>
    </div>

    <div>
      <label>Space Type</label>
      <select class="form-control mb-3" formControlName="Space_Type">
        <option *ngFor="let space of space_types" [ngValue]="space">{{ space }}</option>
      </select>
    </div>
    <div>
      <label>Storage Type</label>
      <select class="form-control mb-3" formControlName="Storage_Type">
        <option *ngFor="let space of storage_types" [ngValue]="space">{{ space }}</option>
      </select>
    </div>
    <div class="mt-2">
      <label>City</label>
      <input type="text" placeholder="City..." class="form-control mb-3" formControlName="City">
    </div>
    <div class="mt-2">
      <label>Preferred District</label>
      <input type="text" placeholder="Preferred District..." class="form-control mb-3" formControlName="Preferred_District">
    </div>
    <div class="mt-2">
      <label>Space</label>
      <input type="number" placeholder="Space..." class="form-control mb-3" formControlName="Space">
    </div>

    <input type="date" placeholder="Duration From..." class="form-control mb-3" formControlName="From">
    <input type="date" placeholder="Duration To..." class="form-control mb-3" formControlName="To">

    <input type="text" placeholder="Total Number of Packages" class="form-control mb-3" formControlName="Total_Number_of_Packages">
    <input type="text" placeholder="Total Net Weight" class="form-control mb-3" formControlName="Total_Net_Weight">
    <input type="text" placeholder="Total Gross weight" class="form-control mb-3" formControlName="Total_Gross_weight">

    <!-- Nested Items -->
    <div formGroupName="child">
      <div class="items">
        <div class="form-group">
          <h3>Create Items</h3>
          <div>
            <label>Quantity</label>
            <input class="form-control" type="text" formControlName="Quantity" placeholder="Quantity">
          </div>
          <div>
            <label>Length_cm</label>
            <input class="form-control" type="text" formControlName="Length" placeholder="Length (cm)">
          </div>
          <div>
            <label>Width_cm</label>
            <input class="form-control" type="text" formControlName="Width" placeholder="Width_cm">
          </div>
          <div>
            <label>Height_cm</label>
            <input class="form-control" type="text" formControlName="Height" placeholder="Height_cm">
          </div>
          <div>
            <label>Net_Weight_kg</label>
            <input class="form-control" type="text" formControlName="Net_Weight" placeholder="Net_Weight_kg">
          </div>
          <div>
            <label>Gross_Weight_kg</label>
            <input class="form-control" type="text" formControlName="Gross_Weight" placeholder="Gross_Weight_kg">
          </div>
        </div>
      </div>
    </div>

    <input type="submit" class="btn btn-outline-primary">
  </div>
</form>
