<div class="items">
  <div class="form-group">
    <h3>Create Items</h3>
    <div>
      <label>Quantity</label>
      <input class="form-control" type="text" formControlName="Quantity" placeholder="Quantity">
    </div>
    <div>
      <label>Length_cm</label>
      <input class="form-control" type="text" formControlName="Length_cm" placeholder="Length (cm)">
    </div>
    <div>
      <label>Width_cm</label>
      <input class="form-control" type="text" formControlName="Width_cm" placeholder="Width_cm">
    </div>
    <div>
      <label>Height_cm</label>
      <input class="form-control" type="text" formControlName="Height_cm" placeholder="Height_cm">
    </div>
    <div>
      <label>Net_Weight_kg</label>
      <input class="form-control" type="text" formControlName="Net_Weight_kg" placeholder="Net_Weight_kg">
    </div>
    <div>
      <label>Gross_Weight_kg</label>
      <input class="form-control" type="text" formControlName="Gross_Weight_kg" placeholder="Gross_Weight_kg">
    </div>
  </div>
</div>

