<div class="message mt-4" *ngIf="this.msgError">
  <div class="alert alert-danger">
    {{ this.msgError }}
  </div>
</div>

<div class="register">
  <div class="row">
    <div class="col-md-6">
      <div class="greeting mt-4 mb-2 ml-4">
        <h3>Create a new account</h3>
      </div>
      <form #registerForm="ngForm" class="p-4" (ngSubmit)="register(registerForm.value)">
        <div class="form-group">
          <input #email="ngModel" [class.is-invalid]="email.invalid && email.touched" required autocomplete="off" type="email" class="form-control" id="register-email" placeholder="email@example.com" name="Email" ngModel>
          <div *ngIf="email.errors">
            <small class="d-none text-danger err-msg" [class.d-block]="email.errors.required && email.touched">Email is required</small>
          </div>
        </div>
        <div class="form-group">
          <input #password="ngModel" required autocomplete="off" [class.is-invalid]="password.invalid && password.touched" type="password" class="form-control" id="register-password" placeholder="Password" name="Password" ngModel>
          <div *ngIf="password.errors">
            <small class="d-none text-danger err-msg" [class.d-block]="password.errors.required && password.touched">Password is required</small>
          </div>
        </div>
        <div class="form-group">
          <input #f_name="ngModel" required autocomplete="off" [class.is-invalid]="f_name.invalid && f_name.touched" type="text" class="form-control" id="register-first-name" placeholder="First name" name="First_Name" ngModel>
          <div *ngIf="f_name.errors">
            <small class="d-none text-danger err-msg" [class.d-block]="f_name.errors.required && f_name.touched">First Name is required</small>
          </div>
        </div>
        <div class="form-group">
          <input required #mid_name="ngModel" autocomplete="off" [class.is-invalid]="mid_name.invalid && mid_name.touched" type="text" class="form-control" id="register-full-name" placeholder="Middle name" name="Full_Name" ngModel>
          <div *ngIf="mid_name.errors">
            <small class="d-none text-danger err-msg" [class.d-block]="mid_name.errors.required && mid_name.touched">First Name is required</small>
          </div>
        </div>
        <div class="form-group">
          <input #l_name="ngModel" required autocomplete="off" [class.is-invalid]="l_name.invalid && l_name.touched" type="text" class="form-control" id="register-last-name" placeholder="Last name" name="Last_Name" ngModel>
          <div *ngIf="l_name.errors">
            <small class="d-none text-danger err-msg" [class.d-block]="l_name.errors.required && l_name.touched">Last Name is required</small>
          </div>
        </div>
        <div class="form-group">
          <input autocomplete="off" type="tel" class="form-control" id="register-phone" placeholder="Phone number" name="Phone" ngModel>
        </div>
        <div class="form-group">
          <input #acc="ngModel" required autocomplete="off" [class.is-invalid]="acc.invalid && acc.touched" type="text" class="form-control" id="register-account" placeholder="Account name" name="Account_Name" ngModel>
          <div *ngIf="acc.errors">
            <small class="d-none text-danger err-msg" [class.d-block]="acc.errors.required && acc.touched">Account Name is required</small>
          </div>
        </div>
        <div class="form-group">
          <label for="register-userRole">User Role</label>
          <select [(ngModel)]="this.selectedRole" name="userType" id="register-userRole" class="form-control" ngModel>
            <option [ngValue]="role.option" *ngFor="let role of roles">{{ role.option }}</option>
          </select>
        </div>
        <button type="submit" class="btn btn-primary mt-2">Create Account!</button>
      </form>
    </div>
    <div class="col-md-6">
      <div class="register-image">
        <div class="row">
          <div class="col-12">
            <a href="{{ this.resolver.ResolverURL('login') }}">
              <img src="assets/images/shipping-spot-logo.png">
            </a>
          </div>
          <div class="col-12">
            <img src="assets/images/start-your-bussines.svg">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
