<form [formGroup]="this.formGroup" #createRfq="ngForm" class="p-4" (ngSubmit)="createRFQ(createRfq.value)">
  <div class="form-group">
    <div>
      <label for="commodity">Commodity</label>
      <input id="commodity" formControlName="Commodity" class="form-control mb-2" type="text" required autocomplete="off" placeholder="Commodity">
    </div>
    <div>
      <label for="noteTextarea">Note</label>
      <textarea formControlName="Note" class="form-control" placeholder="Leave a comment here" id="noteTextarea"></textarea>
    </div>

    <div class="mt-2">
      <label>Choose Truck</label>
      <select #choose_truck class="form-control mb-3" formControlName="Choose_Truck">
        <option *ngFor="let truck of choose_trucks" [ngValue]="truck">{{ truck }}</option>
      </select>
    </div>

    <div *ngIf="choose_truck.value.slice(3) === 'Choose your truck'" class="mt-2">
      <label for="Number_of_Trucks">Number of Trucks</label>
      <input id="Number_of_Trucks" type="number" formControlName="Number_of_Trucks" placeholder="Number of Trucks" class="form-control mb-3">
    </div>

    <div>
      <label for="pickup_country"></label>
      <input id="pickup_country" type="text" placeholder="Pickup Country" class="form-control mb-3" formControlName="Pickup_Country">
    </div>
    <div>
      <label for="delivery_country">Delivery Country</label>
      <input id="delivery_country" type="text" placeholder="Delivery Country" class="form-control mb-3" formControlName="Delivery_Country">
    </div>
    <div>
      <label for="pickup_address">Pickup Address</label>
      <input id="pickup_address" type="text" placeholder="Pickup Address" class="form-control mb-3" formControlName="Pickup_Address">
    </div>
    <div>
      <label for="delivery_address">Delivery Address</label>
      <input id="delivery_address" type="text" placeholder="Delivery Address" class="form-control mb-3" formControlName="Delivery_Address">
    </div>

    <!-- Nested Items -->
    <div class="childs">
      <!-- Shipment Details -->
      <div *ngIf="choose_truck.value.slice(3) === 'Enter Shipment Details'" class="items">
        <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">Quantity</th>
                <th scope="col">Length (cm)</th>
                <th scope="col">Width (cm)</th>
                <th scope="col">Height (cm)</th>
                <th scope="col">Net Weight (kg)</th>
                <th scope="col">Gross Weight (kg)</th>
                <th scope="col">Add</th>
              </tr>
            </thead>
            <tbody>
              <tr class="child-form" formGroupName="child">
                <td>
                  <input class="form-control" type="number" formControlName="Quantity" placeholder="Quantity">
                </td>
                <td>
                  <input class="form-control" type="number" formControlName="Length" placeholder="Length (cm)">
                </td>
                <td>
                  <input class="form-control" type="number" formControlName="Width" placeholder="Width_cm">
                </td>
                <td>
                  <input class="form-control" type="number" formControlName="Height" placeholder="Height_cm">
                </td>
                <td>
                  <input class="form-control" type="number" formControlName="Net_Weight" placeholder="Net_Weight_kg">
                </td>
                <td>
                  <input class="form-control" type="number" formControlName="Gross_Weight" placeholder="Gross_Weight_kg">
                </td>
                <td>
                  <button id="1" type="button" class="add-btn btn btn-primary">+</button>
                </td>
              </tr>
            </tbody>
        </table>
      </div>
    </div>

    <input type="submit" class="btn btn-outline-primary">
  </div>
</form>
