<form [formGroup]="this.formGroup" #createRfq="ngForm" class="p-4" (ngSubmit)="createRFQ(createRfq.value)">
  <div class="form-group">
    <div>
      <label for="commodity">Commodity</label>
      <input id="commodity" formControlName="Commodity" class="form-control mb-2" type="text" required autocomplete="off" placeholder="Commodity">
    </div>
    <div>
      <label for="noteTextarea">Note</label>
      <textarea formControlName="Note" class="form-control" placeholder="Leave a comment here" id="noteTextarea"></textarea>
    </div>

    <div class="mt-2">
      <label>Shipping Mode</label>
      <select class="form-control mb-3" formControlName="Shipping_Mode">
        <option *ngFor="let mode of shipping_modes" [ngValue]="mode">{{ mode }}</option>
      </select>
    </div>
    <div class="mt-2">
      <label>Coverage</label>
      <select class="form-control mb-3" formControlName="Coverage">
        <option *ngFor="let cove of coves" [ngValue]="cove">{{ cove }}</option>
      </select>
    </div>
    <div class="mt-2">
      <label>Country of Origin</label>
      <select class="form-control mb-3" formControlName="Country_of_Origin">
        <option *ngFor="let countries of country_origin" [ngValue]="countries">{{ countries }}</option>
      </select>
    </div>
    <div class="mt-2">
      <label>Country of Destination</label>
      <select class="form-control mb-3" formControlName="Country_of_Destination">
        <option *ngFor="let countries of country_destination" [ngValue]="countries">{{ countries }}</option>
      </select>
    </div>
    <div class="mt-2">
      <label>Policy Type</label>
      <select class="form-control mb-3" formControlName="Policy_Type">
        <option *ngFor="let type of policy_types" [ngValue]="type">{{ type }}</option>
      </select>
    </div>

    <input type="submit" class="btn btn-outline-primary">
  </div>
</form>
