<div class="create-rfq">
  <div class="row">
    <div class="col-lg-12">
      <!-- Fake form -->
      <form class="p-4">
        <label>RFQ Group</label>
        <input type="text" [ngModel]="rfq_group_name" readonly name="RFQ_Group" class="form-control" ngModel>
        <div class="form-group">
          <label for="service-type">Service Type</label>
          <select [(ngModel)]="this.default_service" #service_name (change)="displayFields(service_name.value);"
                  name="Service_Type" id="service-type" class="form-control"
                   ngModel>
            <option>-- None --</option>
            <option *ngFor="let services of Type_Services" [ngValue]="services">{{ services }}</option>
          </select>
        </div>
      </form>

      <router-outlet></router-outlet>
      <router-outlet name="Air_Freight"></router-outlet>
      <router-outlet name="Ocean_Freight_FCL"></router-outlet>
      <router-outlet name="Ocean_Freight_LCL"></router-outlet>
      <router-outlet name="International_Trucking_FTL"></router-outlet>
      <router-outlet name="International_Trucking_LTL"></router-outlet>
      <router-outlet name="International_Courier"></router-outlet>

      <router-outlet name="Domestic_Courier"></router-outlet>
      <router-outlet name="Domestic_Trucking"></router-outlet>
      <router-outlet name="Custom_Clearance"></router-outlet>
      <router-outlet name="Storage"></router-outlet>
      <router-outlet name="Packing"></router-outlet>
      <router-outlet name="Fumigation"></router-outlet>
      <router-outlet name="Handling_Equipment"></router-outlet>
      <router-outlet name="Insurance"></router-outlet>
    </div>
  </div>
</div>
