<form enctype="multipart/form-data" [formGroup]="this.formGroup" #createRfq="ngForm" class="p-4" (ngSubmit)="createRFQ(createRfq.value)">
  <div class="form-group">
    <div>
      <label for="commodity">Commodity</label>
      <input id="commodity" formControlName="Commodity" class="form-control mb-2" type="text" required autocomplete="off" placeholder="Commodity">
    </div>
    <div>
      <label for="noteTextarea">Note</label>
      <textarea formControlName="Note" class="form-control" placeholder="Leave a comment here" id="noteTextarea"></textarea>
    </div>

    <div>
      <label>Shipping Term</label>
      <select #shippingTermField class="form-control mb-3" formControlName="Shipping_Term">
        <option *ngFor="let term of terms" [ngValue]="term">{{ term }}</option>
      </select>
    </div>
    <div *ngIf="(showHideShippingTerm(shippingTermField) && shippingTermField.value.slice(3) === 'Incoterm')">
      <label>Incoterm</label>
      <select (change)="getIncotermValue($event)" class="form-control mb-3" formControlName="Incoterm">
        <option *ngFor="let term of incoterms" [ngValue]="term">{{ term }}</option>
      </select>
    </div>

    <!-- Need Insurance -->
    <div>
      <label for="need_insurance">Need Insurance:</label>&nbsp;&nbsp;
      <input #need_insurance (change)="changeStateEvent(need_insurance.checked)" id="need_insurance" type="checkbox" formControlName="Need_Insurance">
    </div>
    <div *ngIf="changeStateEvent(need_insurance.checked)">
      <label for="value_of_goods">Value Of Goods</label>
      <input id="value_of_goods" type="number" placeholder="Value of Goods" class="form-control mb-3" formControlName="Value_of_Goods">
    </div>

    <!-- Dangerous Commodity -->
    <div>
      <label for="dang_commodity">Dangerous Commodity</label>&nbsp;&nbsp;
      <input #dang_com (change)="changeStateEvent(dang_com.checked)" id="dang_commodity" type="checkbox" formControlName="Dangerous_Commodity">
    </div>
    <div *ngIf="changeStateEvent(dang_com.checked)">
      <label for="Safety_Data_Sheet">Safety Data Sheet</label>
      <input id="Safety_Data_Sheet" type="file" class="form-control mb-3" formControlName="Safety_Data_Sheet">
    </div>

    <!-- Need Temperature -->
    <div>
      <label for="need_temp">Need Temperature Control</label>&nbsp;&nbsp;
      <input #temp (change)="changeStateEvent(temp.checked)" id="need_temp" type="checkbox" formControlName="Need_Temperature_Control">
    </div>
    <div *ngIf="changeStateEvent(temp.checked)">
      <label for="temperature">Temperature</label>&nbsp;&nbsp;
      <input id="temperature" class="form-control" type="number" formControlName="Temperature">
    </div>

    <div>
      <label for="pickup_country">Pickup Country</label>
      <input id="pickup_country" type="text" placeholder="Pickup Country" class="form-control mb-3" formControlName="Pickup_Country">
    </div>
    <div>
      <label for="delivery_country">Delivery Country</label>
      <input id="delivery_country" type="text" placeholder="Delivery Country" class="form-control mb-3" formControlName="Delivery_Country">
    </div>
    <div *ngIf="((showHideShippingTerm(shippingTermField) && shippingTermField.value.slice(3) === 'Door to Door') || target_value === 'PA')">
      <div *ngIf="target_value !== '-None-'">
        <label for="pickup_address">Pickup Address</label>
        <input id="pickup_address" type="text" placeholder="Pickup Address" class="form-control mb-3" formControlName="Pickup_Address">
      </div>
    </div>
    <div *ngIf="((showHideShippingTerm(shippingTermField) && shippingTermField.value.slice(3) === 'Door to Door') || target_value === 'DA')">
      <label for="delivery_address">Delivery Address</label>
      <input id="delivery_address" type="text" placeholder="Delivery Address" class="form-control mb-3" formControlName="Delivery_Address">
    </div>
    <div *ngIf="((showHideShippingTerm(shippingTermField) && shippingTermField.value.slice(3) === 'Port to Port') || target_value === 'POL')">
      <label for="pol_loading">POL Port Of Loading</label>
      <input id="pol_loading" type="text" placeholder="POL Port of Loading" class="form-control mb-3" formControlName="POL_Port_of_Loading">
    </div>
    <div *ngIf="((showHideShippingTerm(shippingTermField) && shippingTermField.value.slice(3) === 'Port to Port') || target_value === 'POL')">
      <label for="pol_discharge">POL Port Of Discharge</label>
      <input id="pol_discharge" type="text" placeholder="POL Port of Discharge" class="form-control mb-3" formControlName="POD_Port_of_Discharge">
    </div>

    <!-- Nested Items -->
    <div class="childs">
      <div class="items">
        <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">Net Weight</th>
                <th scope="col">Gross Weight</th>
                <th scope="col">Number Of Containers</th>
                <th scope="col">Container Type</th>
                <th scope="col">Add</th>
              </tr>
            </thead>
            <tbody>
              <tr class="child-form" formGroupName="child">
                <td>
                  <input class="form-control" type="number" formControlName="Net_Weight" placeholder="Net Weight">
                </td>
                <td>
                  <input class="form-control" type="number" formControlName="Gross_Weight" placeholder="Gross Weight">
                </td>
                <td>
                  <input class="form-control" type="number" formControlName="Number_of_Containers" placeholder="Number of Containers">
                </td>
                <td>
                  <select class="form-control" formControlName="Container_Type">
                    <option *ngFor="let container of container_types;">{{ container }}</option>
                  </select>
                </td>
                <td>
                  <button id="1" type="button" class="add-btn btn btn-primary">+</button>
                </td>
              </tr>
            </tbody>
        </table>
      </div>
    </div>

    <input [ngModel]="setStatus" type="hidden" formControlName="Status">

    <button (click)="submitStatus($event)" type="submit" id="New" class="btn btn-primary d-inline-block">Create</button>
    <button (click)="submitStatus($event)" type="submit" id="Draft" class="btn btn-outline-dark d-inline-block ml-3">Draft</button>
  </div>
</form>
