<form enctype="multipart/form-data" [formGroup]="this.formGroup" #createRfq="ngForm" class="p-4" (ngSubmit)="createRFQ(createRfq.value)">
  <div class="form-group">
    <div>
      <label for="commodity">Commodity</label>
      <input id="commodity" formControlName="Commodity" class="form-control mb-2" type="text" required autocomplete="off" placeholder="Commodity">
    </div>
    <div>
      <label for="noteTextarea">Note</label>
      <textarea formControlName="Note" class="form-control" placeholder="Leave a comment here" id="noteTextarea"></textarea>
    </div>

    <div>
      <label for="hs_code">HS Code</label>
      <input id="hs_code" type="number" placeholder="HS Code" class="form-control mb-3" formControlName="HS_Code">
    </div>
    <div>
      <label for="noteTextarea">Service Operation</label>
      <select formControlName="Service_Operation" class="form-control">
        <option *ngFor="let services of service_operations;" [ngValue]="services">{{services}}</option>
      </select>
    </div>
    <div>
      <label>Service Mode</label>
      <select #mode_value formControlName="Service_Mode" class="form-control">
        <option *ngFor="let mode of modes;" [ngValue]="mode">{{mode}}</option>
      </select>
    </div>

    <!-- Show Modes -->
    <div *ngIf="mode_value.value.slice(3) === 'Air' || mode_value.value.slice(3) === 'Ocean LCL'" class="mt-2">
      <label>Quantity</label>
      <input type="number" formControlName="Quantity" class="form-control mb-3" id="Quantity">
    </div>

    <div *ngIf="mode_value.value.slice(3) === 'Air' || mode_value.value.slice(3) === 'Ocean LCL'" class="mt-2">
      <label>Gross Weight (kg)</label>
      <input type="number" formControlName="Gross_Weight_kg" class="form-control mb-3" id="Gross_Weight_kg">
    </div>

    <div *ngIf="mode_value.value.slice(3) === 'Ocean LCL'" class="mt-2">
      <label>CBM</label>
      <input type="number" formControlName="CBM" class="form-control mb-3" id="CBM">
    </div>

    <div *ngIf="mode_value.value.slice(3) === 'Land'" class="mt-2">
      <label>Shipment Gross Weight (kg)</label>
      <input type="number" formControlName="Shipment_Gross_Weight_kg" class="form-control mb-3" id="Shipment_Gross_Weight_kg">
    </div>

    <div *ngIf="mode_value.value.slice(3) === 'Land'" class="mt-2">
      <label>Number of Trucks</label>
      <input type="number" formControlName="Number_of_Trucks" class="form-control mb-3" id="Number_of_Trucks">
    </div>

    <!-- Air Service Mode -->
    <div *ngIf="mode_value.value.slice(3) === 'Air'">
      <label>Airport</label>
      <select formControlName="Airport" class="form-control">
        <option *ngFor="let Airport of Airports;" [ngValue]="Airport">{{ Airport }}</option>
      </select>
    </div>
    <!-- Land Service Mode -->
    <div *ngIf="mode_value.value.slice(3) === 'Land'">
      <label>Landport</label>
      <select formControlName="Landport" class="form-control">
        <option *ngFor="let Landport of Landports;" [ngValue]="Landport">{{ Landport }}</option>
      </select>
    </div>
    <!-- Ocean Service Mode -->
    <div *ngIf="mode_value.value.slice(3) === 'Ocean FCL' || mode_value.value.slice(3) === 'Ocean LCL'">
      <label>Seaport</label>
      <select formControlName="Seaport" class="form-control">
        <option *ngFor="let Seaport of Seaports;" [ngValue]="Seaport">{{ Seaport }}</option>
      </select>
    </div>

    <!-- Nested Items -->
    <div class="childs">
      <div class="items">
        <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">Number of Containers</th>
                <th scope="col">Container Type</th>
                <th scope="col">Add</th>
              </tr>
            </thead>
            <tbody>
              <tr class="child-form" formGroupName="child">
                <td>
                  <input class="form-control" type="number" formControlName="Number_of_Containers" placeholder="Number of Containers">
                </td>
                <td>
                  <select class="form-control" formControlName="Container_Type">
                    <option *ngFor="let container_type of container_types;">{{ container_type }}</option>
                  </select>
                </td>
                <td>
                  <button id="1" type="button" class="add-btn btn btn-primary">+</button>
                </td>
              </tr>
            </tbody>
        </table>
      </div>
    </div>

    <input type="submit" class="btn btn-outline-primary">
  </div>
</form>
