<form [formGroup]="this.formGroup" #createRfq="ngForm" class="p-4" (ngSubmit)="createRFQ(createRfq.value)">
  <div class="form-group">
    <div>
      <label for="commodity">Commodity</label>
      <input id="commodity" formControlName="Commodity" class="form-control mb-2" type="text" required autocomplete="off" placeholder="Commodity">
    </div>
    <div>
      <label for="noteTextarea">Note</label>
      <textarea formControlName="Note" class="form-control" placeholder="Leave a comment here" id="noteTextarea"></textarea>
    </div>

    <div>
      <label for="hs_code">HS Code</label>
      <input id="hs_code" type="number" placeholder="HS Code" class="form-control mb-3" formControlName="HS_Code">
    </div>
    <div>
      <select formControlName="Service_Operation" class="form-control">
        <option *ngFor="let services of service_operations;" [ngValue]="services">{{services}}</option>
      </select>
      <label for="noteTextarea">Service Operation</label>
    </div>
    <div>
      <label>Service Mode</label>
      <select #mode_value (change)="showFields(mode_value.value.slice(3))" formControlName="Service_Mode" class="form-control">
        <option *ngFor="let mode of modes;" [ngValue]="mode">{{mode}}</option>
      </select>
    </div>

    <div class="mt-2" *ngFor="let modes of showFields(mode_value.value.slice(3));">
      <label>{{ modes.formControlName }}</label>
      <input [type]="modes.type" [formControlName]="modes.formControlName" [class]="modes.class">
    </div>

    <!-- Air Service Mode -->
    <div *ngIf="mode_value.value.slice(3) === 'Air'">
      <label>Airport Mode</label>
      <select formControlName="Airport" class="form-control">
        <option *ngFor="let Airport of Airports;" [ngValue]="Airport">{{ Airport }}</option>
      </select>
    </div>
    <!-- Land Service Mode -->
    <div *ngIf="mode_value.value.slice(3) === 'Land'">
      <label>Landport Mode</label>
      <select formControlName="Landport" class="form-control">
        <option *ngFor="let Landport of Landports;" [ngValue]="Landport">{{ Landport }}</option>
      </select>
    </div>
    <!-- Ocean Service Mode -->
    <div *ngIf="mode_value.value.slice(3) === 'Ocean'">
      <label>Seaport Mode</label>
      <select formControlName="Seaport" class="form-control">
        <option *ngFor="let Seaport of Seaports;" [ngValue]="Seaport">{{ Seaport }}</option>
      </select>
    </div>

    <div class="mt-2">
      <input type="text" placeholder="Pickup Country" class="form-control mb-3" formControlName="Pickup_Country">
    </div>
    <div class="mt-2">
      <input type="text" placeholder="Delivery Country" class="form-control mb-3" formControlName="Delivery_Country">
    </div>
    <div class="mt-2">
      <input type="text" placeholder="Pickup Address" class="form-control mb-3" formControlName="Pickup_Address">
    </div>
    <div class="mt-2">
      <input type="text" placeholder="Delivery Address" class="form-control mb-3" formControlName="Delivery_Address">
    </div>

    <!-- Nested Items -->
    <div formGroupName="child">
      <div class="items">
        <div class="form-group">
          <h3>Create Items</h3>
          <div>
            <label>Number of Containers</label>
            <input class="form-control" type="number" formControlName="Number_of_Containers">
          </div>
        </div>
      </div>
    </div>

    <label>Description</label>
    <textarea type="text" placeholder="Description..." class="form-control mb-3" formControlName="Description" row="3"></textarea>
    <input type="submit" class="btn btn-outline-primary">
  </div>
</form>
