<aside class="left-sidebar" data-sidebarbg="skin6">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
                <!-- User Profile-->
                <li class="sidebar-item">
                    <a class="sidebar-link waves-effect waves-dark sidebar-link" routerLink="/profile"
                        aria-expanded="false">
                        <i class="fa fa-user" aria-hidden="true"></i>
                        <span class="hide-menu">
                          <fa-icon [icon]="sidebar_icon.faClock"></fa-icon> DashBoard
                        </span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link waves-effect waves-dark sidebar-link" (click)="logout()"
                        aria-expanded="false">
                        <i class="fa fa-user" aria-hidden="true"></i>
                        <span class="hide-menu">
                          <fa-icon [icon]="sidebar_icon.faRightFromBracket"></fa-icon> Logout
                        </span>
                    </a>
                </li>
                <li class="sidebar-item d-lg-none d-md-block">
                    <a class="sidebar-link waves-effect waves-dark sidebar-link" routerLink="#"
                        aria-expanded="false">
                        <i class="fa fa-user" aria-hidden="true"></i>
                        <span class="hide-menu">
                          <fa-icon [icon]="sidebar_icon.faUser"></fa-icon> {{ user_request.user_data.UserType }}
                        </span>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</aside>
