<h3>General Information</h3>
<!--<div class="profile">-->
<!--  <div class="rfq-table">-->
<!--    <div class="row">-->
<!--      <div class="col-lg-12">-->
<!--        <table class="table text-center">-->
<!--          <thead>-->
<!--            <tr>-->
<!--              <th scope="col">#</th>-->
<!--              <th scope="col">RFQ ID</th>-->
<!--              <th scope="col">Provider Name</th>-->
<!--              <th scope="col">Approve</th>-->
<!--              <th scope="col">Cancel</th>-->
<!--            </tr>-->
<!--          </thead>-->
<!--          <tbody>-->
<!--            <tr *ngFor="let obj of data; let i = index">-->
<!--              <td># {{ i }}</td>-->
<!--              <td>{{ obj.Name }}</td>-->
<!--              <td>Abdin</td>-->
<!--              <td>-->
<!--                <form>-->
<!--                  <input type="submit" class="btn btn-success" value="Approve">-->
<!--                </form>-->
<!--              </td>-->
<!--              <td>-->
<!--                <form>-->
<!--                  <input type="submit" class="btn btn-danger" value="Cancel">-->
<!--                </form>-->
<!--              </td>-->
<!--            </tr>-->
<!--          </tbody>-->
<!--        </table>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
