<div id="main-wrapper" data-layout="vertical" data-navbarbg="skin5" data-sidebartype="full" data-sidebar-position="absolute" data-header-position="absolute" data-boxed-layout="full">
  <!-- Navbar -->
  <app-navbar [user_request]="userRequest()" [navbar_icons]="svg_icon"></app-navbar>
  <!-- Sidebar -->
  <div *ngIf="userRequest().is_authenticated">
    <app-sidebar *ngIf="is_authenticated === true" [user_request]="userRequest()" [sidebar_icon]="svg_icon"></app-sidebar>
  </div>

  <!-- Page-Wrapper -->
  <div class="page-wrapper">
    <!-- Breadcrumb -->
    <app-breadcrumb *ngIf="is_authenticated === true" [user_request]="userRequest()" [breadcrumb_icon]="svg_icon"></app-breadcrumb>
    <router-outlet  *ngIf="routeName('profile')"></router-outlet>
  </div>
</div>

<!-- Login page: Start Page Out of main-wrapper -->
<div>
  <router-outlet *ngIf="routeName('login')" name="login"></router-outlet>
  <router-outlet *ngIf="routeName('register')" name="register"></router-outlet>
</div>
