<form [formGroup]="this.formGroup" #createRfq="ngForm" class="p-4" (ngSubmit)="createRFQ(createRfq.value)">
  <div class="form-group">
    <div>
      <label for="commodity">Commodity</label>
      <input id="commodity" formControlName="Commodity" class="form-control mb-2" type="text" required autocomplete="off" placeholder="Commodity">
    </div>
    <div>
      <label for="noteTextarea">Note</label>
      <textarea formControlName="Note" class="form-control" placeholder="Leave a comment here" id="noteTextarea"></textarea>
    </div>

    <div>
      <label>Shipping Term</label>
      <select class="form-control mb-3" formControlName="Shipping_Term">
        <option *ngFor="let term of terms" [ngValue]="term">{{ term }}</option>
      </select>
    </div>
    <div>
      <label>Incoterm</label>
      <select class="form-control mb-3" formControlName="Incoterm">
        <option *ngFor="let term of incoterms" [ngValue]="term">{{ term }}</option>
      </select>
    </div>
    <div>
      <label for="need_insurance">Need Insurance:</label>&nbsp;&nbsp;
      <input id="need_insurance" type="checkbox" formControlName="Need_Insurance">
    </div>
    <div>
      <label for="value_of_goods">Value Of Goods</label>
      <input id="value_of_goods" type="number" placeholder="Value of Goods" class="form-control mb-3" formControlName="Value_of_Goods">
    </div>
    <div>
      <label for="dang_commodity">Dangerous Commodity</label>&nbsp;&nbsp;
      <input id="dang_commodity" type="checkbox" formControlName="Dangerous_Commodity">
    </div>
    <div>
      <label for="need_temp">Need Temperature Control</label>&nbsp;&nbsp;
      <input id="need_temp" type="checkbox" formControlName="Need_Temperature_Control">
    </div>
    <div>
      <label for="temperature">Temperature</label>&nbsp;&nbsp;
      <input id="temperature" class="form-control" type="number" formControlName="Temperature">
    </div>

    <div>
      <label for="pickup_country"></label>
      <input id="pickup_country" type="text" placeholder="Pickup Country" class="form-control mb-3" formControlName="Pickup_Country">
    </div>
    <div>
      <label for="delivery_country">Delivery Country</label>
      <input id="delivery_country" type="text" placeholder="Delivery Country" class="form-control mb-3" formControlName="Delivery_Country">
    </div>
    <div>
      <label for="pickup_address">Pickup Address</label>
      <input id="pickup_address" type="text" placeholder="Pickup Address" class="form-control mb-3" formControlName="Pickup_Address">
    </div>
    <div>
      <label for="delivery_address">Delivery Address</label>
      <input id="delivery_address" type="text" placeholder="Delivery Address" class="form-control mb-3" formControlName="Delivery_Address">
    </div>
    <div>
      <label for="pol_loading">POL Port Of Loading</label>
      <input id="pol_loading" type="text" placeholder="POL Port of Loading" class="form-control mb-3" formControlName="POL_Port_of_Loading">
    </div>
    <div>
      <label for="pol_discharge">POL Port Of Discharge</label>
      <input id="pol_discharge" type="text" placeholder="POL Port of Discharge" class="form-control mb-3" formControlName="POD_Port_of_Discharge">
    </div>

    <!-- Nested Items -->
    <div formGroupName="child">
      <div class="items">
        <div class="form-group">
          <h3>Create Items</h3>
          <div>
            <label>Net Weight</label>
            <input class="form-control" type="number" formControlName="Net_Weight" placeholder="Net Weight">
          </div>
          <div>
            <label>Gross Weight</label>
            <input class="form-control" type="number" formControlName="Gross_Weight" placeholder="Gross Weight">
          </div>
          <div>
            <label>Number Of Trucks</label>
            <select class="form-control mb-3" formControlName="Number_of_Trucks">
              <option *ngFor="let item of choose_truck_or_shipment" [ngValue]="item">{{ item }}</option>
            </select>
          </div>
        </div>
      </div>
    </div>

    <input type="submit" class="btn btn-outline-primary">
  </div>
</form>
